# See https://eslint.org/docs/user-guide/configuring/ignoring-code#the-eslintignore-file
# for more about ignoring files and paths on eslint

# API autogenerada
/src/app/api

# protractor config files
/**/protractor.conf.js
/**/protractor-mobile.conf.js
