# See http://help.github.com/ignore-files/ for more about ignoring files.
!.gitignore
!package-lock.json

# compiled output
/tmp
/out-tsc

# dependencies
node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/recommended-settings.json
!.vscode/recommended-launch.json
.vscode/settings.json
.history
.angular

# documentation
documentation

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
System Files
Thumbs.db
!.npmrc
.angular

# CICD ###
.DS_STORE
/dist/
/bazel-out
/integration/bazel/bazel-*
*.log
*.tgz

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/tasks.json
*.swo
*.swp
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

# User specific ng-dev settings
.ng-dev.user*
.notes.md
baseline.json

# CLDR data
tools/gulp-tasks/cldr/cldr-data/

# Husky
.husky/_

# SonarQube ###
# SonarQube ignore files.
# https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner
# Sonar Scanner working directories
.sonar/
.scannerwork/

# http://www.sonarlint.org/commandline/
# SonarLint working directories, configuration files (including credentials)
.sonarlint/

# Checkmarx ###
Checkmarx/

# Helm ###
# Chart dependencies
**/requirements.lock
**/charts/*.tgz
**/charts/**/*.tgz
