@import "~@mercadona-fwk-front/styles/sass/mixins";
@import "~@mercadona-fwk-front/styles/sass/variables";

h4 {
  margin: 0;
}

img {
  max-width: 100%;
}

:host {
  display: block;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 368px;
    background: linear-gradient(180deg, #50565B -81.64%, #FFFFFF 100%);
  }
}


footer {
  width: 100vw;
  height: 368px;
  background: linear-gradient(360deg, #50565B -81.64%, #FFFFFF 100%);
}


.title-fwk {
  @include font-heading02-regular;
  color: var(--interactive02);
  @media (max-width: $smallScreen) {
    font-size: 2.1em;
  }
}

.img-principal {
  max-height: 320px;
}

.img-secondary {
  max-height: 150px;
}

.secondary-text {
  @include font-heading06-semibold;
  color: var(--interactive01);
}

.text-content {
  @include font-body02-regular;
  color: var(--interactive02);
}

.box-img-secondary {
  div.row > div {
    border-top: 1px solid #B9BFC7;

    @media (max-width: $smallScreen) {
      border-top: none;

      &:first-child {
        border-top: 1px solid #B9BFC7;
      }
    }
  }
}

.bg-tipos {
  background-color: var(--supportBack02);
}

.title-tipos {
  @include font-heading03-regular;
  color: var(--interactive02);
}

.img-secondary-text {
  @include font-heading06-semibold;
  color: var(--interactive01)
}

.clickable {
  text-decoration: none !important;
  cursor: pointer;
}

.cursor_ojo {}
